#one {
    display: grid;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 25%;
}

h4 {
    margin-top: 20px;
    font-size: 1.5rem; 
    color: white;
    text-align: center;
}
h3{
    color: black;
    text-align: center;
}
#signup {
    display: flex;
    max-width: 500px;
    width: 100%;
    background-color: rgb(241, 246, 246);
    border-radius: 10px;
}
#signup #right{
    display: grid;
    width: 50%;
    background-color: #2b9cda;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#signup #right #login{
    display: grid;
    background-color: #2b9cda;
}

form {
    padding: 10px 20px;
    width: 50%;
}
input {
    width: 100%; 
    padding: 7px;
    margin-bottom: 10px; 
    font-size: 1rem; 
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    margin-bottom: 10px;
    font-size: 0.9rem; 
    display: block;
}
button {
    width: 100%; 
    padding: 10px;
    font-size: 1rem; 
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button a{
    text-decoration: none;
    color: white;
}
button:hover {
    background-color: #0056b3; 
}
#login p{
    text-align: center;
    font-size: 0.9rem; 
    color: rgb(228, 235, 235);
    padding: 10px;
}
#login div button {
    width: 80%; 
    padding: 10px;
    font-size: 1rem; 
    border: 2px solid white;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#login button:hover {
    background-color: #0056b3; 
}
#signup #loginform{
    display: none;
    padding: 0;
}
#loginform button{
    width: 85%; 
    font-size: 1rem; 
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
@media (max-width: 769px) {
    #one #h1 {
        font-size: 1.8rem;
    }
    h4 {
        font-size: 1.3rem;
    }
}
@media (max-width: 480px) {
    #one #h1 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    button {
        font-size: 0.9rem;
    }
    input {
        font-size: 0.9rem;
    }
}
@media (max-width: 460px) {
    #signup{
        display: grid;
        padding: 20px;
    }
    #signup #right{
        display: none;
    }
    form{
        width: 100%;
    } 
    input{ 
        width: 100%;
    } 
    button{
        width: 100%;
    }
    #signup #loginform{
        display: block;
        text-align: center;
    }  
}
@media (max-width: 260px) {
    #one{
        position: absolute;
        top: 50%;
        max-width: fit-content;
    }
    #one #h1 {
        font-size: 1rem;
    }
    h4 {
        font-size: 0.8rem;
    }
    button {
        font-size: 0.7rem;
        padding: 8px;
    }
    input {
        font-size: 0.7rem;
    }
}